body {
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

article {
  width: 50em;
  margin: 0 auto;
}

article section {
  margin-bottom: 40px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
}

article section:last-of-type {
  border: 0;
}

h1 {
  font-variant: small-caps;
  text-align: center;
}

img {
  max-width: 100%;
}

footer { 
  text-align: center;
}

footer ul li {
  display: inline;
}

footer ul li a {
  text-decoration: none;
  font-size: 32px;
  color: #ccc;
  margin: 32px; 
}

footer ul li a:hover {
  color: #000;
}

hr.styled {
  width: 50em;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}